* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'seravek-web', 'Georgia', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  border: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

.coverImage {
  background-image: url('/images/header_image_1500.jpg');
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
  max-height: 850px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
@media screen and (min-device-pixel-ratio: 2) {
  .coverImage { background-image: url('/images/header_image_3000.jpg'); }
}

header .logo {
  margin: 0 auto;
  padding-top: 30px;
}

header .logo,
header #wrapper,
header .logo img {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 1024px) {
  header .logo {
    padding-top: 50px;
  }

  header .logo,
  header #wrapper,
  header .logo img {
    width: 252px;
    height: 252px;
  }
}

#mainNav {
  margin-top: -255px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #mainNav {
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
    margin-bottom: 65px;
    height: 50px;
    width: 100%;
  }
}

#mainNav a {
  display: block;
  padding: 14px 15px;
  margin: 5px 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  #mainNav a {
    width: 242px;
    margin: 0;
  }
}

#mainNav a#nav1 { background-color: #FB005A; }
#mainNav a#nav2 { background-color: #E8CF2D; }
#mainNav a#nav3 { background-color: #5AE798; }
#mainNav a#nav4 { background-color: #7B83DF; }

/* Content */

section {
  padding: 30px 15px;
  border-bottom: 1px solid #e2e2e2;
}

@media screen and (min-width: 1024px) {
  section {
    padding: 70px 0;
  }
}

.sectionName {
  font-size: 54px;
  line-height: 54px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .sectionName {
    font-size: 200px;
    line-height: 175px;
    margin: 0 0 125px 0;
  }
}

#double .sectionName {
  font-size: 24px;
}

h2:not(.sectionName) {
  max-width: 750px;
  margin: 0 0 30px 0;
  font-size: 28px;
  line-height: 40px;
}

h3 {
  margin-top: 28px;
  margin-bottom: 3px;
}

p {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  max-width: 660px;
}

p {
  margin-bottom: 18px;
}

@media screen and (min-width: 1024px) {
  p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    max-width: 660px;
  }

  p {
    margin-bottom: 28px;
  }
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

figcaption {
  color: #CCCCCC;
  font-size: 12px;
  text-align: right;
  margin: 5px 5px 0 0;
}

.bigText,
.quoteText p {
  font-size: 22px;
  line-height: 28px;
  font-style: italic;
  font-weight: 700;
  max-width: 750px;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 720px) {
  .bigText,
  .quoteText p {
    font-size: 28px;
    line-height: 40px;
  }
}

.quoteSource {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  color: #999;
}

.quote p {
  max-width: 750px;
}

/* About */

#about .drawer:not(.drawerClosed) .drawerContents {
  padding-top: 20px;
}

.aboutMore {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

#about .drawer:not(.drawerClosed) .aboutMore {
  display: none;
}

@media screen and (min-width: 1024px) {
  #about .drawer:not(.drawerClosed) .drawerContents {
    padding-top: 30px;
  }

  .aboutMore {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 720px) {
  #about .sidebar {
    display: none;
  }
}

/* Projects */

.project {
  margin-top: 30px;
  padding: 10px 0 0 0;
  border-top: 3px solid #000;
}

@media screen and (min-width: 1024px) {
  .project {
    margin-top: 44px;
    padding: 22px 0 18px 0;
  }
}

.project + .project {
  margin-top: 0;
}

.project .sidebar {
  margin-top: 30px;
}

.project .sidebar em {
  display: block;
}

.projectHead {
  position: relative;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .projectHead {
    position: relative;
    height: 44px;
  }
}

.drawerClosed .projectHead h3 {
  margin-bottom: 0;
}

.projectHead h3 {
  float: left;
  margin-top: 0;
  margin-bottom: 28px;
  width: calc(100% - 70px);
}

@media screen and (min-width: 1024px) {
  .projectHead h3 {
    font-size: 36px;
  }
}

.projectHead .drawerToggle {
  display: inline-block;
}

.project .drawerToggle {
  margin: -13px -5px 0 0;
}

@media screen and (min-width: 1024px) {
  .project .drawerToggle {
    margin: -5px 15px 0 0;
  }
}

#reichImage1 {
  width: 100%;
}

#reichPhotoArrangement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#reichImage2 { width: 100%; object-fit: contain; margin-bottom: 10px; }
#reichImage3, #reichImage4 { width: calc(50% - 5px); object-fit: contain; }

@media screen and (min-width: 1024px) {
  #reichPhotoArrangement {
    flex-direction: column;
    height: 500px;
    align-content: space-between;
  }

  #reichImage2 { width: 650px; }
  #reichImage3, #reichImage4 { width: 318px; }
}

.project ul {
  margin-bottom: 30px;
}

.project li {
  display: flex;
  font-size: 18px;
  line-height: 28px;
}

.project .projectWorkYear {
  flex: 0 0 100px;
  text-align: right;
  margin-right: 20px;
}

/* Events */
#pastEvents {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 720px) {
  #pastEvents {
    margin: -105px 0 125px 0;
  }
}

.event {
  position: relative;
  padding: 10px 0 14px 0;
  border-top: 3px solid #000;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 720px) {
  .event {
    font-size: 16px;
    line-height: 24px;
  }

  .eventDate,
  .eventName,
  .eventLocation {
    display: block;
    width: calc(100% - 70px);
  }

  .eventDate {
    font-size: 11px;
    text-transform: uppercase;
  }

  .eventName {
    line-height: 18px;
    margin: 0 0 5px 0;
  }

  .eventLocation {
    font-size: 14px;
    line-height: 16px;
  }
}

.eventName {
  font-weight: 700;
  display: block;
}

.eventDetails a {
  display: block;
  color: #FF0058;
}

.event .drawerToggle {
  float: none;
  position: absolute;
  top: 30px;
  right: 15px;
  background: url('/images/icon-plus-red@2x.png');
  background-size: 100%;
}

.event:not(.drawerClosed) .eventDetails {
  margin-top: 15px;
}

@media screen and (min-width: 1024px) {
  .event {
    padding: 20px 0 17px 0;
  }

  .eventHead {
    display: flex;
  }

  .eventDate {
    flex: 0 0 200px;
  }

  .eventHeadline {
    flex: 0 0 735px;
  }

  .eventName {
    display: inline;
    margin-right: 10px;
  }

  .eventDetails {
    margin-left: 200px;
  }

  .event .drawerToggle {
    position: static;
    flex-basis: 50px;
    margin: -13px 0px -15px 0;
  }

  .event:not(.drawerClosed) .eventDetails {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#pastEvents a {
  display: inline-block;
  margin-left: 10px;
  color: #FF0058;
}

/* People */

#people h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  #people .sidebar {
    float: left;
  }
}

#people .row {
  display: flex;
}

@media screen and (min-width: 1024px) {
  #people .row {
    width: 650px;
  }
}

#people .row + .row {
  margin-top: 20px;
}

#people .column {
  width: 50%;
  padding-right: 30px;
}

#people .break {
  display: block;
}

#peopleSignalTeam,
#peopleArtistRoster,
#peopleBoardOfDirectors {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#peopleSignalTeam,
#peopleArtistRoster {
  margin-bottom: 30px;
}

.personWithBio {
  cursor: pointer;
}

.personWithBio:after {
  content: '×';
  font-size: 28px;
  color: #27D5FF;
  display: inline-block;
  margin: 0 0 -5px 10px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Listen */

@media screen and (max-width: 720px) {
  #listen .sectionName {
    margin-bottom: 60px;
  }
}

#listen .sidebar {
  float: right;
  width: 120px;
}

@media screen and (min-width: 1024px) {
  #listen .sidebar .socialButtons {
    margin: 100px 0 0 0;
  }
}

#listen .sidebar .socialButtons a {
  margin-right: 0;
  margin-left: 10px;
}

#listen .albums,
#listen .videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#listen .album {
  position: relative;
  width: 45%;
  height: 45%;
  margin: 0 15px 15px 0;
}

#listen .album img {
  width: 100%;
  height: 100%;
}

#listen .albumLinks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  #listen .album {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 0 50px 0;
  }

  #listen .albumLinks {
    position: absolute;
    width: 300px;
    height: 300px;
  }
}

#listen .albumLinks a {
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #5AE798;
}

#listen .albumLinks a:hover {
  text-decoration: underline;
}

#listen .albumLinks {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#listen .albumLinks:hover {
  opacity: 0.75;
}

#listen .videos iframe {
  background-color: #000;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  #listen .videos iframe {
    margin-bottom: 50px;
  }
}

/* Support, Contact, Newsletter */

#support .flex {
  flex-direction: column-reverse;
}

@media screen and (min-width: 720px) {
  #support .flex {
    flex-direction: row;
  }
}

#support .donateButton {
  display: block;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  color: #7D83E6;
  border: 1px solid #7D83E6;
  width: 210px;
  padding: 15px 0;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.half {
  margin: 0 0 30px 0;
}

#double .sectionName {
  margin: 0 0 15px 0;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  #double {
    margin: 0;
    display: flex;
  }

  .half {
    margin: 0;
  }

  #double .sectionName {
    width: 500px;
  }

  #double p {
    width: 400px;
  }
}

#double a {
  text-decoration: underline;
  color: #000;
}

#double .socialButtons {
  margin-top: 20px;
  margin-bottom: 0;
}

#double #mc_embed_signup {
  position: relative;
  margin-top: 20px;
}

#double #mc_embed_signup input#mce-email {
  border: 1px solid #000;
  padding: 15px;
  font-size: 16px;
  width: calc(100% - 70px);
}

#double #mc_embed_signup input#mc-embedded-subscribe {
  position: absolute;
  left: calc(100% - 60px);
  top: 0px;
  color: #fff;
  font-size: 16px;
  padding: 16px;
  width: 60px;
  background-color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 720px) {
  #double #mc_embed_signup input#mce-email {
    width: 300px;
  }

  #double #mc_embed_signup input#mc-embedded-subscribe {
    left: 310px;
  }
}

/* Gallery */

#gallery {
  height: 215px;
}

.galleryWindow {
  width: 100vw;
  height: 150px;
  position: absolute;
  left: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.galleryContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0 15px;
}

#gallery img {
  width: 225px;
  height: 150px;
}

#gallery figcaption {
  margin-top: 160px;
}

@media screen and (min-width: 720px) {
  #gallery { height: 440px; }
  .galleryWindow { height: 300px; }
  .galleryContainer { padding: 0 30px; }
  #gallery img { width: 450px; height: 300px; }
  #gallery figcaption { margin-top: 310px; }
}

/* Sidebar */

.flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .sidebar {
    width: 210px;
  }
}

.sidebar span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #666;
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: underline;
  color: #666;
}

/* Social Buttons */

.socialButtons {
  margin-bottom: 20px;
}

.socialButtons img {
  max-width: 100%;
  max-height: 100%;
}

.socialButtons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 25px;
  margin-right: 10px;
}

/* Things You Can Hover On */

#mainNav a {
  transition: color 0.2s;
}

#mainNav a:hover {
  color: #f3f3f3 !important;
}

.donateButton,
.socialButtons a {
  transition: opacity 0.2s;
}

.donateButton:hover,
.socialButtons a:hover {
  opacity: 0.8;
}

/* Drawer Utilities */

.drawer {
  cursor: pointer;
}

.drawerContents {
  cursor: default;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: height 0.5s;
}

.drawerClosed .drawerContents {
  height: 0;
}

.drawerClosed .drawerToggle {
  transform: rotate(0deg);
}

.drawerToggle {
  float: right;
  width: 50px;
  height: 50px;
  margin: -15px -15px 0 0;
  background: url('/images/icon-plus-yellow@2x.png');
  background-size: 100%;
  transform: rotate(45deg);
  transition: transform 0.1s ease-out;
}

@media screen and (min-width: 1024px) {
  .drawerToggle {
    width: 50px;
    height: 50px;
    margin: -15px -15px 0 0;
  }
}

.drawerToggle:hover {
  cursor: pointer;
}

/* Overlay */

#overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-out;
}

#overlayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay.hide {
  opacity: 0;
  pointer-events: none;
}

#overlayContent {
  position: fixed;
  margin: 0 auto 0 auto;
  width: 100%;
  height: calc(100vh);
  overflow: scroll;
  padding: 0 15px 30px 15px;
  background-color: #fff;
}

#overlayContent .bios h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

#overlayContent .bios-portrait {
  float: right;
  margin: 0 0 15px 15px;
  width: 40%;
}

#overlayContent .bios-portrait img {
  width: 100%; height: auto;
}

#overlayContent .bios-portrait figcaption {
  margin: 0;
}

#overlayCloseButton {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 11px 15px 9px 16px;
  border-radius: 30px;
  color: #000;
  font: 30px/100% arial, sans-serif;
  text-decoration: none;
  position: fixed;
  top: 5px;
  right: 5px;
}

#overlayCloseButton:hover {
  cursor: pointer;
}

#overlayCloseButton:after {
  content: '×'; /* UTF-8 symbol */
}

@media screen and (min-width: 720px) {

  #overlay {
    padding-top: 60px;
  }

  #overlayContent {
    position: relative;
    padding: 30px 60px 120px 60px;
    width: 700px;
    border-radius: 3px;
  }

  #overlayContent .bios h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  #overlayCloseButton {
    top: 65px;
    right: 50%;
    margin-right: -345px;
  }

}

/* Footer */

footer .container {
  padding: 20px 15px;
}

@media screen and (min-width: 1024px) {
  footer .container {
    padding: 20px 0;
  }
}

footer span {
  font-size: 12px;
  color: #999;
}

/* Section Colors */

#about .sectionName { color: #E5E5E5; }
#projects .sectionName { color: #E9D114; }
#events .sectionName { color: #FF0058; }
#people .sectionName { color: #27D5FF; }
#listen .sectionName { color: #5AE798; }
#support .sectionName { color: #7D83E6; }

/* Logo Animation */

#wrapper {
  position: relative;
}
#mark {
  position: absolute;
  top: 0;
  left: 0;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes pulse5 {
  0% { opacity: 0; }
  15% { opacity: 1; }
  50% { opacity: 0.05; }
  100% { opacity: 0.05; }
}
@keyframes pulse4 {
  0% { opacity: 0; }
  15% { opacity: 0.8; }
  65% { opacity: 0.05; }
  100% { opacity: 0.05; }
}
@keyframes pulse3 {
  0% { opacity: 0; }
  15% { opacity: 0.6; }
  80% { opacity: 0.05; }
  100% { opacity: 0.05; }
}
@keyframes pulse2 {
  0% { opacity: 0; }
  15% { opacity: 0.4; }
  95% { opacity: 0.05; }
  100% { opacity: 0.05; }
}
@keyframes pulse1 {
  0% { opacity: 0; }
  20% { opacity: 0.2; }
  95% { opacity: 0.05; }
  100% { opacity: 0.05; }
}
#c5 { animation: pulse5 4s linear infinite; }
#c4 { animation: pulse4 4s linear infinite; animation-delay: 0.2s; }
#c3 { animation: pulse3 4s linear infinite; animation-delay: 0.3s; }
#c2 { animation: pulse2 4s linear infinite; animation-delay: 0.4s; }
#c1 { animation: pulse1 4s linear infinite; animation-delay: 0.5s; }
